body {
  font-family: Arial, sans-serif;
  background-color:#6dcd7d  ;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background-color:#16c3fe ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

#intro {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.opcao {
  margin: 10px 0;
}

button {
  background-color: #5c67f2;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #4a54e1;
}

.hidden {
  display: none;
}
